@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* Colors */
    --black: hsl(0, 0%, 8%);
    --nav-black: hsl(0, 0%, 4%);
    --white: #ffffff;
    --darkgreen: #1db954;
    --lightgreen: #1ed760;
    --black-lighter: hsl(0, 0%, 20%);
    --pure-black: #000000;
    --disabled: #c2c2c2;
    --red: #ff7575;

    /* Font */
    --roboto: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
  color: var(--black); /* berwarna soft black unless stated otherwise */
}

img {
  display: block;
}